 :root {
   --main: #ff0000;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   text-decoration: none;
   transition: 0.2s ease-in;
 }

 *::selection {
   background: var(--main);
   color: #fff;
 }

 body {
   background: #000;
   color: #fff;
 }

 section {
   padding-inline: 200px;
 }

 ::-webkit-scrollbar {
   width: 5px;
 }

 ::-webkit-scrollbar-thumb {
   background: var(--main);
 }

 ::-webkit-scrollbar-track {
   background: #ccc;
 }