.NavbarMain {
    position: fixed;
    width: 100%;
    padding-inline: 200px;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
}

.NavbarMain a img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.NavbarMain .BtnBox {
    margin-top: 45px;
}